/* ************************************************************************** */
/*     File: css/style.css                                                    */
/*     Author: atucci <atucci@student.42.fr>                                  */
/*     Created: 2026/01/22 14:53:01                                           */
/*     Updated: 2026/01/22 14:53:03                                           */
/*     System: Linux [e4r2p4.42roma.it]                                       */
/*     Hardware: Intel Core i5-8600 | RAM: 15GB                               */
/* ************************************************************************** */


/* In css/style.css */

/* This overrides any other display rule because of !important */
.hidden {
    display: none !important;
}